.edit {
    cursor: pointer;
    color: #5d78ff;
    margin-right: 1%;
}

.trash {
    cursor: pointer;
    color: red;
}

.fa-toggle-on {
    color: green;
    font-size: 18px;
}

.fa-toggle-off {
    color: red;
    font-size: 18px;
}