<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h5> Distributor List for Reset Password </h5>
            </div><div class="col"></div>
            <div class="col">
                <mat-form-field class="searchField" style="margin-right: 2%;">
                    <span class="GlobalSearch" matPrefix>
                        <mat-icon>search</mat-icon> &nbsp;
                    </span>
                    <input matInput name="searchM	odel" [(ngModel)]="searchModel" (keyup)="applyFilter()" placeholder="Search">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="Scroll">
            <table mat-table [dataSource]="DataSource" #Sort="matSort" matSort>

                <ng-container matColumnDef="SrNo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="commonHeaderCSS"> Sr. No. </th>
                    <td mat-cell *matCellDef="let row; let SrNo = index;">
                        {{ ( SrNo + 1 ) + ( paginator.pageIndex * paginator.pageSize ) }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="Distributor_Code">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="commonHeaderCSS">Distributor Code. </th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.Distributor_Code }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="Distributor_Name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="commonHeaderCSS"> Distributor Name </th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.Distributor_Name }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="CDCMS_ID_Email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="commonHeaderCSS"> CDCMS Email.
                    </th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.CDCMS_ID_Email }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="CDCMS_Password">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="commonHeaderCSS"> CDCMS Password. </th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.CDCMS_Password }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="Updated_Date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="commonHeaderCSS">Last Updated Date </th>
                    <td mat-cell *matCellDef="let row">
                        <span *ngIf="(row.Updated_Date!== '0001-01-01T00:00:00')">
							{{ row.Updated_Date | date: 'dd/MM/yyyy'}}
						</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="UpdatePass">
                    <th mat-header-cell *matHeaderCellDef class="commonHeaderCSS"> Update Password </th>
                    <td mat-cell *matCellDef="let row">
                        <a (click)="openUpdateContact(ContactContent,row);"> Reset Password</a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                <tr mat-row class="example-element-row" *matRowDef="let row; columns: displayColumns;"></tr>
            </table>
        </div>
        <mat-progress-spinner class="spin" *ngIf="isLoading" color="primary" mode="indeterminate" diameter="40" strokeWidth="5"></mat-progress-spinner>
        <div *ngIf="!DataSource.data.length && !isLoading">
            <h6 class="noRecordData"> No Record Found </h6>
        </div>
        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[20,30,40,100]"></mat-paginator>
    </div>
</div>

<div class="col-xl-12">
    <ng-template #ContactContent let-c="close" let-b="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">
                {{ loadingTitle }}
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="b('Cross click')">
				<span aria-hidden="true">&times;</span>
			</button>
        </div>
        <!-- START - MODAL BODY -->
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Distributor Code" name="SelectedDistributorCode" #DistributorCode="ngModel"
						 [(ngModel)]="SelectedDistributorCode" disabled>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Distributor Name." name="SelectedDistributorName" #EmergencyNo="ngModel"
						 [(ngModel)]="SelectedDistributorName" disabled>
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Email Address." name="SelectedEmail" #Email="ngModel"
						[(ngModel)]="SelectedEmail"	autocomplete="off" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                        <mat-error *ngIf="Email.errors?.pattern">
                            Invalid emailId.
                        </mat-error>
                        <mat-error *ngIf="Email.errors?.required">
                            Please Enter EmailId.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <input matInput type="password" placeholder="password." name="Selectedpassword" #password="ngModel"
						[(ngModel)]="Selectedpassword" autocomplete="off" pattern="^[a-zA-Z0-9_()@#-&*]*$"  minlength="4"  required>
                        <mat-error *ngIf="password.errors?.required && password.touched">
							Password is <strong>required</strong>
						  </mat-error>
						  <mat-error
							*ngIf="password.touched && password.errors?.minlength  && !password.errors?.required">
							Password must be at<strong>least 4 characters long.</strong>
						  </mat-error>
						  <mat-error *ngIf="password.touched && password.errors?.pattern">
							Password is <strong>not valid</strong>
						  </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-md-12 modal-footer">
                    <button type="submit" mat-raised-button color="primary" (click)="UpdatePassword()">	Update </button>
                    <button type="button" mat-raised-button color="warn" (click)="c('Close click')">Close</button>
                </div>
            </div>
        </div>
        <!-- END - MODAL BODY -->
    </ng-template>
</div>
